:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a, span, div, button, input, textarea, label,  table, th, td, form {
    font-family: Inter;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #333;
}

.comingsoon {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-top: 20px;
}